@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

@if (ViewBag.ErrorTitle == null)
{
    <h1 class="ml-2 text-danger">Error.</h1>
    <h2 class="ml-2 text-danger">An error occurred while processing your request.</h2>
}
else
{
    <h1 class="ml-2 text-danger">@ViewBag.ErrorTitle</h1>
    <h6 class="ml-2 text-danger">@ViewBag.ErrorMessage</h6>
}


