@model IEnumerable<IdentityRole>

@{
    ViewBag.Title = "All Roles";
}

@if (Model.Any())
{
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Manage Roles</h1>
        </div>

        <!-- Add new role-->
        <div class="row">
            <a class="btn btn-primary ml-3 mb-3" style="width:auto"
           asp-controller="Administration" asp-action="CreateRole">
            Add new role
            </a>
        </div>


        <!-- Create Role List-->
        <div class="card shadow mb-4 w-50">
            <div class="card-header py-3 bg-gray-500">
                <h6 class="m-0 font-weight-bold text-white">Manage Roles</h6>
            </div>
            <div class="card-body col-sm-6 mb-3 mb-sm-0">
                <table class="table table-striped table-bordered table-sm">
                @foreach (var role in Model)
                {
                    <tr>
                        <td class="text-center align-middle">
                            @role.Name
                        </td>
                        <td class="text-center align-middle">
                            <form asp-action="DeleteRole" asp-route-id="@role.Id" method="post">
                                <a class="btn btn-primary align-middle"
                                   asp-action="EditRole" asp-controller="Administration"
                                   asp-route-id="@role.Id">Edit</a>
                                <button type="submit" class="btn btn-danger"
                                        onclick="return confirm('Are you sure you want to delete role : @role.Name?')">
                                    Delete
                                </button>
                            </form>
                        </td>
                    </tr>
                }
                </table>
            </div>
        </div>
    </div>
}
else
{
    <!-- Begin Page Content -->
    <div class="container-fluid">
    
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Manage Roles</h1>
        </div>
    
        <!-- Content Row -->
        <!-- Create Role Form-->
        <div class="card w-50">
            <div class="card-header">
                No roles created yet
            </div>
            <div class="card-body col-sm-8 mb-3 mb-sm-0">
                <h5 class="card-title">
                    Use the button below to create a role
                </h5>
                <a class="btn btn-primary" style="width:auto"
                   asp-controller="Administration" asp-action="CreateRole">
                    Create Role
                </a>
            </div>
        </div>
    </div>
}

