<div class="text-center">
    <h1 class="text-danger">Access Denied</h1>
    <h6 class="text-danger">You do not have permission to view this resource</h6>
    <img src="~/Content/images/access-denied.jpg" style="height: 50%; width: 50%" />
</div>